<%- include('../layouts/adminpartial.ejs') %>

<!-- Table Start -->

<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"
/>
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-12">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Categories</h6>
        <div class="table-responsive">
          <table id="tableform" class="table">
            <thead>
              <tr>
                <th scope="col">SI NO</th>
                <th scope="col">CATEGORYID</th>
                <th scope="col">CATEGORY NAME</th>

                <th scope="col">OPTIONS</th>
              </tr>
            </thead>
            <tbody>
              <% fullCategoryData.forEach((data,index)=>{ %>
              <tr>
                <td><%= index+1%></td>
                <td><%= data._id %></td>
                <td><%= data.category %></td>
                <td>
                  <button
                    data-bs-toggle="modal"
                    name="edit"
                    data-bs-target="#EDITModal<%= data._id %>"
                    type="submit"
                    class="btn btn-warning"
                  >
                    EDIT
                  </button>
                  <a href="/admin/deleteCategory/<%=data._id%>">
                    <button type="submit" class="btn btn-danger">
                      DELETE
                    </button></a
                  >
                </td>
                <!---------------------------------------- Edit modal start ------------------------------------------->
                <div
                  class="modal fade"
                  id="EDITModal<%= data._id %>"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          New message
                        </h5>
                      </div>
                      <form
                        action="/admin/editCategory/<%=data._id%>"
                        method="post" onsubmit="return editcategory(event)"
                      >
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label"
                              >Edit Category:</label
                            >
                            <input
                              type="text"
                              required
                              name="category"
                              value="<%=data.category%>"
                              class="form-control"
                              id="eCategory"
                            />
                            <p id="category_error" class="text-danger"></p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <button type="submit" class="btn btn-success">
                            Save Category
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!---------------------------------- ---Edit modal end ------------------------------------------->
              </tr>
              <%})%>
            </tbody>
          </table>
          <div class="text-center mb-2">
            <button
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              class="btn btn-success"
            >
              Add Category
            </button>
          </div>
          <!-----------------------------------------add modal start----------------------------------------------------------------------->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    New message
                  </h5>
                </div>
                <form
                  action="/admin/addCategory"
                  method="post"
                  onsubmit="return validateCategory(this)"
                >
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label"
                        >Add New Category:</label
                      >
                      <input
                        type="text"
                        name="category"
                        placeholder="Category"
                        required
                        class="form-control"
                        id="recipient-name"
                      />
                      <p id="Category_Error" class="text-danger"></p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-success">
                      Save Category
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-------------------------------------------------add modal end------------------------------------------->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

<script>
  $(document).ready(function () {
    $("#tableform").DataTable();
  });
</script>
<script>
  // -------------------
  function validateCategory(form) {
    const categoryName = document.getElementById("recipient-name");
    if (categoryName.value === "") {
      document.getElementById("Category_Error").innerHTML =
        "Please Enter Category Name Currectly...! ";
      categoryName.focus();
      return false;
    }
    var regexLastName = /^(?!.*([a-zA-Z])\1\1)[a-zA-Z]{3,15}$/;
    if (regexLastName.test(categoryName.value) === false) {
      document.getElementById("Category_Error").innerHTML =
        "Category Should Not Contain Numbers & Special Characters..!\n OR Invalid Data Formate (XXX) OR Atleast 3 Letters \n Max: 15 Letters";
      categoryName.focus();
      return false;
    }
    return true;
  }
</script>
<script>
  function editcategory(ev){
    const formData2 = new FormData2(ev.target);
    const name1=formData2.get('category')


    if (name1 == "") {
    document.getElementById("ecoupon_name_error").innerHTML =
      "Please Enter Coupon Name";
    return false;
  }
  var regexCouponName = /^(?!.*([a-zA-Z])\1\1)[a-zA-Z]{3,15}$/;
  if (regexCouponName.test(name1) === false) {
    document.getElementById("ecoupon_name_error").innerHTML =
      "Name Should Not Contain Numbers & Special Characters..! OR Invalid Data Formate (XXX) OR Atleast 3 Letters\n Max: 15 Letters";
    return false;
  }
  return true
  }
</script>
<!-- -------------------------- -->
