<%- include('../layouts/adminpartial.ejs') %>
<section class="container-fluid pt-3">
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title bg-info text-white mb-3">TOTAL ORDERS</h5>
          <p class="card-text"><%=totalOrder%></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title bg-info text-white mb-3">TOTAL CUSTOMERS</h5>
          <p class="card-text"><%=totalUser%></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title bg-info text-white mb-3">REVENUE</h5>
          <p class="card-text"><%=totalRevenue%></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title bg-info text-white mb-3">TOTAL PRODUCTS</h5>
          <p class="card-text"><%=totalProduct%></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <canvas id="Chart"></canvas>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script>
    var xValues = ["Cash on Delivery", "Online Payment"];
    var yValues = <%-JSON.stringify(pie)%>;
    var barColors = ["#b91d47", "#00aba9"];

    new Chart("Chart", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "Customers Payment Methods"
        }
      }
    });
  </script>
</section>

<section>
  <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <div id="myPlot2" style="width: 100%; max-width: 700px;"></div>
        <script>
          var xArray = ["DELIVERY", "SHIPPING", "PENDING", "CANCEL"];
          var yArray = <%-JSON.stringify(barChart)%>;
          var data = [{
            x: xArray,
            y: yArray,
            type: "bar"
          }];
          var layout = {title: "ORDER STATUS"};
          Plotly.newPlot("myPlot2", data, layout);
        </script>
      </div>
    </div>
  </div>
</section>

<!--  -->

<section class="container-fluid pt-3">
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <a href="/admin/salesReportDay"
            ><button type="submit" class="btn btn-primary">
              TOTAL SALES BY DAY
            </button></a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <a href="/admin/salesReportWeek"
            ><button type="button" class="btn btn-warning">
              TOTAL SALES BY WEEK
            </button></a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <a href="/admin/salesReportMonth"
            ><button type="button" class="btn btn-info">
              TOTAL SALES BY MONTHS
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <a href="/admin/salesReportYear">
            <button type="button" class="btn btn-dark">
              TOTAL SALES BY YEAR
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
