<%- include('../layouts/adminpartial.ejs') %>
<link rel="stylesheet" href="/styles/offer.css">

<h1 class="text-warning">Offers</h1>
<link rel="stylesheet" href="style.css">

<form method="post" action="/admin/createOffer">
  <label for="name">Name:</label>
  <input type="text" id="name" required name="name"><br>

  <label for="description">Description:</label>
  <textarea id="description" required name="description"></textarea><br>

  <label for="discount">Discount:</label>
  <input type="number" id="discount" required name="discount"><br>

  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" required name="startDate"><br>

  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" required name="endDate"><br>
     <button type="submit">Create</button>
</form>

<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Discount</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% offers.forEach(function(offer) { %>
      <tr>
        <td><%= offer.name %></td>
        <td><%= offer.description %></td>
        <td><%= offer.discount %>%</td>
        <td><%= offer.startDate.toDateString() %></td>
        <td><%= offer.endDate.toDateString() %></td>
        <td> <button  data-bs-toggle="modal"  name="edit" data-bs-target="#EDITModal<%= offer._id %>" type="submit" class="btn btn-warning">EDIT</button>
        
          <form method="post" action="/admin/offerDelete/<%= offer._id %>?_method=DELETE">
            <input type="submit" value="Delete">
          </form>

      <!-- edit modal start -->
                                <div
                                class="modal fade"
                                id="EDITModal<%= offer._id %>"
                                tabindex="-1"
                                aria-labelledby="exampleModalLabel"
                                aria-hidden="true"
                                >
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Change Coupon Data</h5>
                                      <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <form action="/admin/editOffer/<%=offer._id%>" method="post">
                                        <div class="mb-3">
                                        </div>
                                        <div class="mb-3">
                                          <label for="recipient-name"  class="col-form-label">Edit Offer Name:</label>
                                          <input type="text" required name="offer" value="" placeholder="Offer Name"  class="form-control" id="recipient-name">
                                        </div>  

                                        <div class="mb-3">
                                          <label for="recipient-name"  class="col-form-label">Edit Description:</label>
                                          <input type="text" required name="Description" value="" placeholder="Offer Description"  class="form-control" id="recipient-name">
                                        </div> 


                                        <div class="mb-3">
                                          <label for="recipient-name"  class="col-form-label">Edit Discount:</label>
                                          <input type="number" required name="Discount" value="" placeholder="Discount"  class="form-control" id="recipient-name">
                                        </div> 


                                        <div class="mb-3">
                                          <label for="recipient-name"  class="col-form-label">Start Date:</label>
                                          <input required type="date" id="startDate" value="" name="startDate" placeholder="Offer Start Date">
                                        </div> 


                                          
                                          <div class="mb-3">
                                            <label for="recipient-name"  class="col-form-label">Edit Discount:</label>
                                            <input type="date" required id="endDate" value="" name="endDate" placeholder="Offer End date"><br>
                                          </div>


                                       

                                         
                         
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-success">Save Offer</button>
                                    </div>
                                  
                                  </div>
                                 </form>
                                </div>
                              </div>


                                <!---------------------------------- ---Edit modal end ------------------------------------------->
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>