<!DOCTYPE html>
<html lang="en">
  <%-include('../layouts/head.ejs')%>

  <link rel="stylesheet" href="/user/css/card.css" />

  <!-- body -->
  <body>
    <%-include('../layouts/userNav.ejs')%>
  

    <div class="banner_section layout_padding">
      <div class="container">
        <section>
          <div
            id="main_slider"
            class="section carousel slide banner-main"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#main_slider"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#main_slider" data-slide-to="1"></li>
              <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                  <div class="row marginii">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                      <div class="carousel-sporrt_text">
                        <h1 class="sport_text">
                          <strong
                            >Sports<br /><span style="color: #fff"
                              >Cycle</span
                            ></strong
                          >
                        </h1>
                        <p class="lorem_text">
                          And our story began with an attempt to explore, those
                          simple pleasures of life! What a day it was, when we
                          did our first bike ride! Life opened up, with
                          beautiful sun rises and splendid weekends! Long rides
                          with wonderful chai breaks with fellow riders became
                          the norm of our lives! A fitter lifestyle had arrived.
                        </p>
                        <a href="/shop"><button class="boynow_bt">Buy Now</button></a>
                        
                        <button class="contact_bt">Contact Us</button>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                      <div class="img-box">
                        <figure>
                          <img
                            src="/user/images/img-1.png"
                            style="max-width: 100%"
                          />
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="container">
                    <div class="row marginii">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="carousel-sporrt_text">
                          <h1 class="sport_text">
                            <strong
                              >Sports<br /><span style="color: #fff"
                                >Cycle</span
                              ></strong
                            >
                          </h1>
                          <p class="lorem_text">
                            While we loved our rides, we soon realized that
                            something was missing – good comfortable apparel and
                            the right accessories. Whether it was saddle bags,
                            jerseys, or winter wear, the good stuff just wasn’t
                            available! The world was full of great products
                            (bikers all around us, including ourselves, were
                            importing from stores in UK), but we couldn’t find
                            any in our neighbourhood!
                          </p>
                          <button class="boynow_bt">Boy Now</button>
                          <button class="contact_bt">Contact Us</button>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="img-box">
                          <figure>
                            <img
                              src="/user/images/img-1.png"
                              style="max-width: 100%"
                            />
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="row marginii">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                      <div class="carousel-sporrt_text">
                        <h1 class="sport_text">
                          <strong
                            >Sports<br /><span style="color: #fff"
                              >Cycle</span
                            ></strong
                          >
                        </h1>
                        <p class="lorem_text">
                          Then followed a phase of intensive research. We
                          strived to understand how the global cycling space had
                          evolved and what bikers were doing to make rides more
                          comfortable. Brands and products were evaluated
                          carefully so that they are both acceptable and
                          affordable. And what better way to sell, other than
                          delivering them at your doorstep. Thus, wizbiker.com
                          was born
                        </p>
                        <button class="boynow_bt">Boy Now</button>
                        <button class="contact_bt">Contact Us</button>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                      <div class="img-box">
                        <figure>
                          <img
                            src="/user/images/img-1.png"
                            style="max-width: 100%"
                          />
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- about section start -->
    <div class="container-fluid">
      <div class="about_section">
        <div class="container">
          <div class="about_img">
            <img src="/user/images/about-img1.png" style="max-width: 100%" />
          </div>
          <h2 class="about_text">
            <strong>About <span style="color: #000">Us</span></strong>
          </h2>
          <div class="about_middle">
            <p class="about_lorem">
              <i
                ><u
                  >The right way to begin your Mountain biking journey is with
                  Firefox’s Kannon bike. Kannon mountain bike is designed for
                  power, and the gears are designed to endure the toughest
                  climbs and steepest slopes. It's best to break the ice between
                  you and mountain biking. On the other hand, if you plan to
                  start your Hybrid biking journey, you should do it with the
                  Firefox Meteor Bike. It is performance-focused and comfortable
                  to ride a hybrid bicycle on both smooth and rough urban roads.
                </u></i
              >
            </p>
          </div>
          <div class="red_bt">
            <button class="read_more">Read More</button>
          </div>
        </div>
      </div>
    </div>
    <!-- about section end -->
    <!-- our section start -->
    
    <!-- card start -->

    <div class="container mx-auto mt-4">
      <div class="row">
        <!--  -->
        <% productData.forEach((product)=>{ %> <%if(!product.isDeleted){%>
          <a href="/productView/<%=product._id%>">
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <img
              width="100% "
              height="250rem "
              src="<%=product.image[0]?.url%>"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title text-white"><%=product.name%></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%=product.brand%></h6>
              <h6 class="card-subtitle mb-2 text-muted"><strong><%=product.price%></strong> </h6>
              <!-- <p class="card-text"><%=product.description%></p> -->
              <a href="/addToCart/<%=product._id%>" class="btn mr-2">
                add to cart</a>
                <!-- <button class="btn mr-2" onclick="addToCart">Add to Cart</button> -->
              <a href="/productView/<%=product._id%>" class="btn"> Buy now</a>
            </div>
          </div>
        </div>
      </a>
        <%}%> <%})%>
        <!-- card end -->
  
      </div>
    </div>
    <!-- our section end -->

    <%-include('../layouts/userFooter.ejs')%>
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript -->
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".fancybox").fancybox({
          openEffect: "none",
          closeEffect: "none",
        });
      });
      $("#myCarousel").carousel({
        interval: false,
      });
    </script>

    <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>
    <%-include('../layouts/footer.ejs')%>
  </body>
</html>
