<link rel="stylesheet" href="/user/css/orderReview.css" />
<div>
  <a href="/"><img src="/img/logo.png" alt="" /></a>
</div>
<div class="container my-5 d-sm-flex justify-content-center">
  <div class="card px-2">
    <div class="card-header bg-white">
      <div class="row px-3">
        <div class="col">
          <h3 class="text-primary">Delivery Address:</h3>
          <h6><%=userData.primaryAddress.firstName%></h6>
          <h6><%=userData.primaryAddress.lastName%></h6>
          <h6><%=userData.primaryAddress.house%></h6>
          <h6><%=userData.primaryAddress.street%></h6>
          <h6><%=userData.primaryAddress.city%></h6>
          <h6><%=userData.primaryAddress.district%></h6>
          <h6><%=userData.primaryAddress.state%></h6>
          <h6><%=userData.primaryAddress.pin%></h6>
          <h6><%=userData.primaryAddress.mobile%></h6>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col">
          <a href="/#">
            <p class="text-muted">
              Need Help!..Contact us.
              <span class="font-weight-bold text-dark">7356958972</span>
            </p></a
          >
        </div>
        <div class="flex-col my-auto">
          <h6 class="ml-auto mr-3">
            <button class="btn btn-primary">Download</button>
          </h6>
        </div>
      </div>
    </div>

    <div class="row px-3">
      <div class="col">
        <ul id="progressbar">
          <li class="step0 active" id="step1">PLACED</li>
          <li class="step0 active text-center" id="step2">SHIPPED</li>
          <li class="step0 text-muted text-right" id="step3">DELIVERED</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
