<%-include('../layouts/head.ejs')%>
<script src="/js/validation.js" defer></script>
    <section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 "><b><i>Sign up</i></b></p>

                <form class="mx-1 mx-md-4 " action="/otpSignUp" method="post" >

                  <div class="d-flex flex-row align-items-center mb-4">
                  
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="username" class="form-control" readonly value="<%=name%>" name="name" />
                      <label class="form-label" for="form3Example1c">Your Name </label>
                      <p id="userNameError" class="text-danger"></p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                  
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="email" class="form-control" readonly value="<%=email%>" name="email" />
                      <label class="form-label" for="form3Example3c">Your Email</label>
                      <p id="emailError" class="text-danger"></p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                 
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="password" class="form-control" hidden value="<%=password%>" name="password"/>
                      
                   
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                 
                    <div class="form-outline flex-fill mb-0">
                      <input type="number" id="otp" class="form-control"  name="otp" />
                      <label class="form-label" for="form3Example4cd">OTP</label>
                      <p id="conformPasswordrError" class="text-danger"></p>
                    </div>
                  </div>
                   <% if(locals.err_msg) { %>
                    <p class="text-danger"><%= err_msg %></p>
                    <% } %>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <label class="form-check-label" for="form2Example3">Already have account?
                    </label>
                      <a href="/login">LOGIN</a>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://m.media-amazon.com/images/I/71HnTtboRIS._SL1500_.jpg"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%-include('../layouts/footer.ejs')%>