<%-include('../layouts/head.ejs')%> <%-include('../layouts/userNav.ejs')%>
<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>


<main class="container">
  <link rel="stylesheet" href="/user/css/product.css" />

  
  <div id="img-container" class="left-column me-5">
    
    <img   height="400rem" width="150rem" data-image="red" class="active" src="<%=product.image[0].url%>" alt="image not found">
    <img  height="400rem" width="150rem" data-image="blue" src="<%=product.image[1].url%>" alt="image not found">
    <img    height="400rem" width="150rem" data-image="black" src="<%=product.image[2].url%>" alt="image not found">

  </div>
  <script>
    var options = {
        width: 400,
        zoomWidth: 500,
        offset: {vertical: 0, horizontal: 10}
    };
    new ImageZoom(document.getElementById("img-container"), options);
     
    </script>

  

  
  <div class="right-column">
    <div class="product-description">
      <h1><%=product.name%></h1>
      <p><%=product.description%></p>
    </div>
    
    <div class="product-configuration">
      <div class="product-color">
        <span>Images</span>
        
        <div class="color-choose">
          <div>
            <input
            data-image="red"
              type="radio"
              id="red"
              name="color"
              value="red"
              checked
              />
              <label for="red"
              ><img
                src="<%=product.image[0].url%>"
                height="60rem"
                width="60rem"
                alt="image not found"
                /></label>
              </div>
              <div>
                <input
                data-image="blue"
                type="radio"
                id="blue"
                name="color"
                value="blue"
              />
              <label for="blue"
              ><img
              src="<%=product.image[1].url%>"
              height="60rem"
              width="60rem"
              alt="image not found"
                /></label>
              </div>
              <div>
            <input
            data-image="black"
            type="radio"
            id="black"
              name="color"
              value="black"
            />
            <label for="black"
            ><img
            src="<%=product.image[2].url%>"
            height="60rem"
            width="60rem"
            alt="image not found"
            /></label>
          </div>
        </div>
      </div>
      
      <div class="product-price">
        <span>RS: <%=product.price%></span>
      </div>
    </div>
    
    <div class="product-price">
      <a href="/postWishList/<%=product._id%>" class="cart-btn">Wish List</a>
      
      <a href="/addToCart/<%=product._id%>" class="buy-btn">Buy Now</a>
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/user/js/product.js" charset="utf-8"></script>

<%-include('../layouts/userFooter.ejs')%> <%-include('../layouts/footer.ejs')%>

<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>

