<!-- card start -->
<%-include('../layouts/head.ejs')%>
 <%-include('../layouts/userNav.ejs')%>
 <link rel="stylesheet" href="/user/css/card.css" />




<div class="container mx-auto mt-4 ">


   <!-- dropdown -->
 <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filters
  </button>
  <div class="dropdown-menu">
    <%filterCategory.forEach((category)=>{%>
    <a href="/filterView/<%=category.category%>" class="dropdown-item" href="#"><%=category.category%></a>
    <%})%>
 
  </div>
</div>

 <!-- dropdown end -->
 
   <div class="row ">
    
    <!--  -->

<%if (productData[0]._id){%>

    <% productData.forEach((product)=>{ %>
       <%if(!product.isDeleted){%>
        <a href="/productView/<%=product._id%>">

     <div class="col-md-4 mt-5 pt-5 ">
       <div class="card" style="width: 18rem">
         <img
         width="100% "
         height="250rem "
           src="<%=product.image[0].url%>"
           class="card-img-top"
           alt="..."
         />
         <div class="card-body">
           <h5 class="card-title text-white"><%=product.name%></h5>
           <h6 class="card-subtitle mb-2 text-muted"><%=product.brand%></h6>
           <h5 class="card-title text-white"><%=product.category%></h5>
           <h6 class="card-subtitle mb-2 text-muted"><strong><%=product.price%></strong></h6>
         
           <a href="/addToCart/<%=product._id%>" class="btn mr-2"
             > add to cart</a
           >
           <a href="/productView/<%=product._id%>" class="btn"> Buy now</a>
         </div>
       </div>
     </div>
    </a>

    
    <%}%>
    <%})%>
    <%}else{%>
      <h1 class="text-danger font-weight-bold">No Product Data Available Here...!</h1>


      <%}%>
      
   <!-- card end -->
   <%-include('../layouts/userFooter.ejs')%>
      <%-include('../layouts/footer.ejs')%>
       <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript -->
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".fancybox").fancybox({
          openEffect: "none",
          closeEffect: "none",
        });
      });
      $("#myCarousel").carousel({
        interval: false,
      });
    </script>

    <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>