<%-include('../layouts/head.ejs')%> <%-include('../layouts/userNav.ejs')%>
<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <form
              action="/userProfile"
              method="post"
              enctype="multipart/form-data"
            >
              <img
                id="profileImage"
                style="
                  height: 150px;
                  width: 150px;
                  border-radius: 50%;
                  object-fit: cover;
                  background: #dfdfdf;
                "
                src="<%=user.profileImage%>"
                alt=""
              />
              <label for="selectedImage">
                Choose Image
                <input
                  id="selectedImage"
                  type="file"
                  name="image"
                  placeholder="profileImage"
                  hidden
                />
              </label>
              <script>
                const image = document.getElementById("profileImage"),
                  input = document.getElementById("selectedImage");

                input.addEventListener("change", () => {
                  image.src = URL.createObjectURL(input.files[0]);
                });
              </script>
              <button class="btn btn-secondary" type="submit">Set</button>
            </form>

            <!-- img test end -->
            <p class="text-muted mb-1"></p>
            <p class="text-muted mb-4"></p>
            <div class="d-flex justify-content-center mb-2"></div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <%if(user.primaryAddress.firstName){%>
            <a href="/userAddress"
              ><button type="/userAddress" class="btn btn-primary">
                change Address
              </button></a
            >
            <%}else{%>
            <a href="/userAddress"
              ><button type="/userAddress" class="btn btn-primary">
                Add Address
              </button></a
            >

            <%}%>
            <a href="/resetPassword"
              ><button class="btn btn-warning">Change Password</button></a
            >

            <a href="/error404"
              ><button class="btn btn-danger">error404</button></a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=user.username%></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%=user.email%></p>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <%if(user.primaryAddress){%>
                <p class="text-muted mb-0">
                  <%=user.primaryAddress.firstName%><br /><%=user.primaryAddress.lastName%><br /><%=user.primaryAddress.house%><br /><%=user.primaryAddress.street%><br /><%=user.primaryAddress.city%><br /><%=user.primaryAddress.district%><br /><%=user.primaryAddress.state%><br /><%=user.primaryAddress.pin%><br /><%=user.primaryAddress.mobile%>
                  <%}%>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0"></div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%-include('../layouts/userFooter.ejs')%> <%-include('../layouts/footer.ejs')%>

<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>
